appdirs==1.4.4
appscript==1.2.5
asgiref==3.7.2
atomicwrites==1.4.0
attrs==23.2.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
blis==0.7.9
brotlipy==0.7.0
catalogue==2.0.8
certifi==2021.10.8
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
confection==0.0.3
constantly==15.1.0
contourpy==1.2.1
crispy==0.7.4
crispy-bootstrap5==2024.2
cssselect==1.1.0
cycler==0.12.1
cymem==2.0.7
cytoolz==0.11.0
daal==2021.5.0
daal4py==2021.5.0
Django==4.2.11
django-crispy-forms==2.1
djangorestframework==3.15.1
docstring-to-markdown==0.15
dpcpp-cpp-rt==2023.2.0
et-xmlfile==1.1.0
fabio==2024.4.0
fonttools==4.25.0
h5py==3.11.0
hdf5plugin==4.4.0
HeapDict==1.0.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==2.0.0
intel-cmplr-lic-rt==2023.2.0
intel-openmp==2023.2.0
jedi==0.18.2
Jinja2==3.1.3
kiwisolver==1.4.5
langcodes==3.3.0
llvmlite==0.38.0
lxml==5.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mccabe==0.6.1
mdurl==0.1.2
mkl==2023.2.2
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==0.4.3
numpy==1.22.4
packaging==24.0
pandas==1.4.2
parso==0.8.4
pathspec==0.7.0
pathy==0.10.1
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
pluggy==1.5.0
preshed==3.0.8
protobuf==3.19.1
psutil==5.9.8
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.22
pycurl==7.44.1
pydantic==1.10.4
PyDispatcher==2.0.5
pygame==2.5.2
Pygments==2.17.2
pyls-spyder==0.4.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
pytest==7.1.1
python-dateutil==2.9.0.post0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
queuelib==1.5.0
regex==2024.4.28
requests==2.31.0
rich==13.7.1
shellingham==1.5.4
silx==2.1.0
six==1.16.0
smart-open==6.3.0
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
sqlparse==0.4.4
srsly==2.4.5
tabulate==0.8.9
tbb==2021.10.0
thinc==8.1.6
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tqdm==4.66.2
typed-ast==1.5.5
typer==0.7.0
typing_extensions==4.4.0
ujson==5.9.0
urllib3==2.2.1
wasabi==0.10.1
webencodings==0.5.1
xlwings==0.24.9
zict==2.0.0
zipp==3.18.1
